

# Folders
__DOCS/
[Jj]unk/
.thumbnails/
.vscode/
.vs/
[Bb]in/
obj/
data/.cache_textures/
data/.thumbnails/
data/.runtimes/
data/csharp_template/
data/Test/


# Files
data/csharp_components.prop
data/csharp_components.prop.meta
*.world
*.world.meta
*.umount
*.cache
*.ung
*.obj
*.cs
*.suo
*.bat
*.csproj
*.project
*.txt
*.txt.meta